{% extends "layout.html" %} 
{% block title %} My Profile {% endblock %}
{% block content %}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <form method="post">
                <div class="form-group row">
                    <div class="col-md-12">
                        <h3>Edit My Profile</h3>
                        <h6 style="color:green;">{{ message }}</h6>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="email">Email</label>
                    </div>
                    <div class="col-md-8">
                        <input type="email" name="email" class="form-control" value="{{ user.email }}" readonly="readonly" placeholder="Email Address"/>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="first_name">First Name</label>
                    </div>
                    <div class="col-md-8">
                        {% if form.first_name.errors %}
                            <input type="text" name="first_name" value="{{ form.first_name.data }}" class="form-control is-invalid" placeholder="First Name"/>
                            <div class="invalid-feedback">
                               {% for error in form.first_name.errors %}
                                    <li>{{ error }}</li>
                               {% endfor %}
                            </div>
                        {% elif form.first_name.data != None %}
                            <input type="text" name="first_name" value="{{ form.first_name.data }}" class="form-control is-valid" placeholder="First Name"/>
                            <div class="valid-feedback">
                               Looks good
                            </div>
                        {% else %}
                            <input type="tex" name="first_name" class="form-control" value="{{ user.first_name }}" placeholder="First Name"/>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="last_name">Last Name</label>
                    </div>
                    <div class="col-md-8">
                        {% if form.last_name.errors %}
                            <input type="text" name="last_name" value="{{ form.last_name.data }}" class="form-control is-invalid" placeholder="Last Name"/>
                            <div class="invalid-feedback">
                               {% for error in form.last_name.errors %}
                                    <li>{{ error }}</li>
                               {% endfor %}
                            </div>
                        {% elif form.last_name.data != None %}
                            <input type="text" name="last_name" value="{{ form.last_name.data }}" class="form-control is-valid" placeholder="Last Name"/>
                            <div class="valid-feedback">
                               Looks good
                            </div>
                        {% else %}
                            <input type="tex" name="last_name" class="form-control" value="{{ user.last_name }}" placeholder="Last Name"/>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="date_of_birth">Date of birth</label>
                    </div>
                    <div class="col-md-8">
                    {% if user.date_of_birth!= None %}
                         <input type="text" name="date_of_birth" class="form-control datetime-picker" value="{{ user.date_of_birth.strftime('%m/%d/%Y') }}" placeholder="Date of birth"/>
                    {% else %}
                         <input type="text" name="date_of_birth" class="form-control datetime-picker" placeholder="Date of birth"/>
                    {% endif %}
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="address">Address</label>
                    </div>
                    <div class="col-md-8">
                    {% if user.address!= None %}
                         <textarea name="address" rows="5" cols="45" placeholder="Address">{{ user.address }}</textarea>
                    {% else %}
                         <textarea name="address" rows="5" cols="45" placeholder="Address"></textarea>
                    {% endif %}
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="telephone">Telephone</label>
                    </div>
                    <div class="col-md-8">
                    {% if user.telephone!= None %}
                        <input type="text" name="telephone" class="form-control" value="{{ user.telephone }}" placeholder="Telephone"/>
                    {% else %}
                        <input type="text" name="telephone" class="form-control" placeholder="Telephone"/>
                    {% endif %}
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="photo">Photo</label>
                    </div>
                    <div class="col-md-8">
                    {% if user.photo!= None %}
                          <input type="text" name="photo" class="form-control" value="{{ user.photo }}" placeholder="Thumbnail Photo"/>
                    {% else %}
                          <input type="text" name="photo" class="form-control" placeholder="Thumbnail Photo"/>
                    {% endif %}
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-12">
                        Need to change password? <a href="/auth/change-password">Click here</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
{% endblock %}

{% block scripts %} 
    <script src="{{ url_for('static', filename= '/js/pages/profile.js')}} "></script>
{% endblock %}
    