{% macro book_list(books, star_rating, wishlists, title, all, filters, categories) -%}
<div class="card">
    <div class="card-header text-black fw-bold">
      <i class="fas fa-book fa-2xl"></i> {{title}}
    </div>
    <div class="card-body">
       {% if filters != None %}
        <div class="row">
          <div class="col-md-12 ps-0">
            <br/>
            <form method="GET" action="/book/list">
              <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-1">
                          <strong>Keyword</strong>
                        </div>
                        <div class="col-md-5">
                          <input type="text" class="form-control form-control-sm" placeholder="Keyword" name="keyword" value="{{ filters.get('keyword') }}"/>
                        </div>
                        <div class="col-md-1">
                          <strong>Sort by</strong>
                        </div>
                        <div class="col-md-5">
                            <select class="form-select form-select-sm" name="sort_by">
                                <option value="" selected>---Sort by---</option>
                                {% set sort_by = filters.get('sort_by') %}
                                <option value="price_high_low" {{ 'selected' if sort_by == "price_high_low" else '' }}>Price high to low</option>
                                <option value="price_low_high" {{ 'selected' if sort_by == "price_low_high" else '' }}>Price low to high</option>
                                <option value="good_rating" {{ 'selected' if sort_by == "good_rating" else '' }}>Good Rating</option>
                                <option value="featured" {{ 'selected' if sort_by == "featured" else '' }}>Featured book</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                          <br/>
                          <strong>Category</strong>
                        </div>
                        <div class="col-md-10">
                          <div class="row">
                              {% for category in categories %}
                                <div class="col-md-2 form-check form-check-inline">
                                  <input class="form-check-input" name="category" type="checkbox" id="cat_{{category.id}}" 
                                    value="{{category.id}}"
                                    {% if category.id|string in filters.getlist('category') %} checked {% endif %}
                                  />
                                  <label class="form-check-label" for="cat_{{category.id}}">{{category.name}}</label>
                                </div>
                              {% endfor %}
                          </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-md-12"><br/></div></div>
                    
                    <div class="row">
                      <div class="col-md-1">
                        <br/>
                        <strong>Rice range</strong>
                      </div>
                      <div class="col-md-5">
                        <div class="custom-wrapper">
                          <div class="price-input-container">
                            <div class="row">
                              <div class="price-input  col-md-2">
                                <div class="price-field"> 
                                  <input type="number"
                                    class="min-price-input"
                                    value="{{filters.get('min_price_input') if filters.get('min_price_input') !=None else 1}}"
                                    name="min_price_input"> 
                                </div>
                              </div>
                              <div class="col-md-8">
                              </div>
                              <div class="price-input  col-md-2">
                                <div class="price-field"> 
                                  <input type="number"
                                    class="max-price-input"
                                    value="{{filters.get('max_price_input') if filters.get('max_price_input') !=None else 100}}"
                                    name="max_price_input"> 
                                </div>
                              </div> 
                            </div>
                            <div class="slider-container"> 
                              <div class="price-slider"> 
                              </div> 
                            </div> 
                          </div> 
                          <!-- Slider -->
                          <div class="range-price-input"> 
                            <input type="range"
                              class="min-price"
                              min="1"
                              max="500"
                              value="1"
                              step="1"> 
                            <input type="range"
                              class="max-price"
                              min="1"
                              max="500"
                              value="100"
                              step="1"> 
                          </div> 
                        </div> 
                      </div>
                      <div class="col-md-1">
                        <br/>
                        <strong>Ratings</strong>
                      </div>
                      <div class="col-md-5">
                        <div class="custom-wrapper">
                          <div class="rate-input-container">
                            <div class="row">
                              <div class="rate-input  col-md-2">
                                <div class="rate-field"> 
                                  <input type="number"
                                    class="min-rate-input"
                                    value="{{filters.get('min_rate_input') if filters.get('min_rate_input') !=None else 3}}"
                                    name="min_rate_input"> 
                                </div>
                              </div>
                              <div class="col-md-8">
                              </div>
                              <div class="rate-input  col-md-2">
                                <div class="rate-field"> 
                                  <input type="number"
                                    class="max-rate-input"
                                    value="{{filters.get('max_rate_input') if filters.get('max_rate_input') !=None else 5}}"
                                    name="max_rate_input"> 
                                </div>
                              </div> 
                            </div>
                            <div class="slider-container"> 
                              <div class="rate-slider"> 
                              </div> 
                            </div> 
                          </div> 
                          <!-- Slider -->
                          <div class="range-rate-input"> 
                            <input type="range"
                              class="min-rate"
                              min="0"
                              max="5"
                              value="3"
                              step="1"> 
                            <input type="range"
                              class="max-rate"
                              min="0"
                              max="5"
                              value="5"
                              step="1"> 
                          </div> 
                        </div>
                      </div>
                    </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-success float-end btn-sm">Apply</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        {% endif %}
        <div class="row">
            {% if books != None %}
              {% for book in books if books %}
              <div class="col-md-6">
                  <div class="row p-2 bg-white border rounded mt-2 position-relative" style="margin-right:1px;height:200px;">
                    {% if book.is_featured %}
                      <div class="ribbon-wrapper ribbon-lg">
                        <div class="ribbon text-white" style="background-color:red;">
                          Featured
                        </div>
                      </div>
                    {% endif %}
                    <div class="col-md-3 mt-1">
                      <a href="/book/detail/{{book.slug}}">
                        {% if book.images[0] != None and book.images[0].url !=None and book.images[0].url != '' %}
                          <img class="img-fluid img-responsive rounded product-image" style="height: 150px;width: 150px;" src="{{ url_for('static', filename = 'files_uploaded/'+ book.images[0].url ) }}" alt="{{book.title}}" />
                        {% else %}
                          <img class="img-fluid img-responsive rounded product-image" style="height: 150px;width: 150px;" src="{{ url_for('static', filename = 'admin/dist/img/no-image.png') }}" alt="{{book.title}}" />
                        {% endif %}
                      </a>
                    </div>
                    <div class="col-md-6 mt-1">
                        <h5 class="text-truncate"><a href="/book/detail/{{book.slug}}" class="text-decoration-none text-dark">{{book.title}}</a></h5>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2">
                              {{ star_rating.rating(book.id, book.total_ratings, book.average_rating_value) }}
                            </div>
                        </div>
                        <div class="mt-1 mb-1">
                          <i class="fas fa-user text-success"></i> <span> {{book.author}}</span>
                          <i class="fas fa-book text-success"></i> </span><span> {{book.isbn}}</span>
                          <i class="fas fa-newspaper text-success"></i> <span> {{book.publisher}}<br></span>
                        </div>
                        <div class="mt-1 mb-1">
                          <span>{{book.dimession}}</span>
                          <i class="fas fa-language text-success"></i> <span> {{book.language}}</span>
                          <i class="fas fa-calendar text-success"></i> <span> {{book.publish_date.strftime('%m/%d/%Y')}}<br></span>
                        </div>
                        <p class="text-justify text-truncate para mb-0">{{book.short_description}}<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h4 class="mr-1">{{"${:,}".format(book.price)}}</h4>
                        </div>
                        <h6 class="text-success">Free shipping</h6>
                        <div class="d-flex flex-column mt-4">
                          <br/>
                          <a class="btn btn-primary btn-sm" href="/book/detail/{{book.slug}}">Details</a>
                          {% if not book.id in wishlists %}
                            <button class="btn btn-outline-success btn-sm mt-2 add-to-wishlist" data-id="{{book.id}}" type="button"><i class="far fa-heart fa-2xl"></i></button>
                          {% else %}
                            <button class="btn btn-danger btn-sm mt-2 add-to-wishlist disabled" data-id="{{book.id}}" type="button"><i class="far fa-heart fa-2xl"></i></button>
                          {% endif %}
                        </div>
                    </div>
                  </div>
              </div>
              {% endfor %}
            {% endif %}
        </div> <!-- Row -->
    </div> <!-- Card body -->
    {% if all == False %}
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/book/list" class="btn btn-info float-end"><small>View all</small></a>
                    </div>
                </div>
            </div>
    {% endif %}
  </div> <!-- Card -->
  {{ star_rating.rating_detail_popover() }}
{%- endmacro %}
