{% macro category_list(all = False) -%}
    <div class="card">
        <input type="hidden" id="is_get_full_cats" value="{{all}}" />
        <div class="card-header text-black fw-bold"><i class="fas fa-list-alt fa-2xl"></i> BOOK CATEGORIES</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"><img id="cat-loading-icon" src="{{ url_for('static', filename = '/client/images/loading_icon.gif') }}" height="64" width="64" /></div>
                <div class="col-md-5"></div>
            </div>
            
            <div class="row category-items">
            </div> <!-- Row -->
        </div> <!-- Card body -->
        {% if all == False %}
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/book/categories/all" class="btn btn-info float-end"><small>View all</small></a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div> <!-- Card -->
    <div id="category-item-template" class="d-none">
        <div class="col-md-2">
                <div class="row bg-white border rounded mb-3 card" style="height: 23rem;margin-right:5px;">
                    <img src="data:image/gif;base64, @@category.thumbnail@@" class="card-img-top img img-responsive" style="height:180px;" alt="@@category.name@@">
                    <div class="card-body">
                    <h5 class="card-title">@@category.name@@</h5>
                    <p class="card-text">@@category.short_description@@</p>
                    <a href="/category/detail/@@category.id@@" class="btn btn-primary">Details</a>
                    </div>
                </div>
        </div>
    </div>
{%- endmacro %}
