{% extends "common/layout.html" %} 
{% block title %} My Profile {% endblock %}
{% block content %}
<form method="post" action="/auth/profile">
    <div class="row" style="background-color:white;">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if user.photo_url != None and user.photo_url != '' %}
                        <img id="img_user_photo" class="rounded-circle mt-5" width="150px" height="180px" alt="{{ user.email }}"
                        src="{{ url_for('static', filename = 'files_uploaded/' + user.photo_url) }}" />
                    {% else %}
                        <img id="img_user_photo" class="rounded-circle mt-5" width="150px" height="180px" alt="{{ user.email }}"
                        src="{{ url_for('static', filename = 'admin/dist/img/no-image.png') }}" />
                    {% endif %}
                    
                    <input type="file" name="file_photo" id="file_photo" class="my-custom-file-input" accept=".png,.jpg" />
                    <span class="fw-bold">{{user.first_name}} {{user.last_name}}</span>
                    <span class="text-black-50">{{user.email}}</span><span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels" for="first_name">Name</label>
                        {% if form.first_name.errors %}
                            <input type="text" name="first_name" value="{{ form.first_name.data }}" class="form-control is-invalid" placeholder="First Name"/>
                            <div class="invalid-feedback">
                               {% for error in form.first_name.errors %}
                                    <li>{{ error }}</li>
                               {% endfor %}
                            </div>
                        {% elif form.first_name.data != None %}
                            <input type="text" name="first_name" value="{{ form.first_name.data }}" class="form-control is-valid" placeholder="First Name"/>
                        {% else %}
                            <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}" placeholder="First Name"/>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label class="labels" for="last_name">Surname</label>
                        {% if form.last_name.errors %}
                            <input type="text" name="last_name" value="{{ form.last_name.data }}" class="form-control is-invalid" placeholder="Last Name"/>
                            <div class="invalid-feedback">
                               {% for error in form.last_name.errors %}
                                    <li>{{ error }}</li>
                               {% endfor %}
                            </div>
                        {% elif form.last_name.data != None %}
                            <input type="text" name="last_name" value="{{ form.last_name.data }}" class="form-control is-valid" placeholder="Last Name"/>
                        {% else %}
                            <input type="tex" name="last_name" class="form-control" value="{{ user.last_name }}" placeholder="Last Name"/>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels" for="telephone">Mobile Number</label>
                        {% if user.telephone!= None %}
                            <input type="text" name="telephone" class="form-control" value="{{ user.telephone }}" placeholder="Telephone"/>
                        {% else %}
                            <input type="text" name="telephone" class="form-control" placeholder="Telephone"/>
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        <label class="labels" for="address">Address</label>
                        {% if user.address!= None %}
                            <textarea name="address" rows="5" cols="45" placeholder="Address" class="form-control">{{ user.address }}</textarea>
                        {% else %}
                            <textarea name="address" rows="5" cols="45" placeholder="Address" class="form-control"></textarea>
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        <label class="labels" for="email">Email Address</label>
                        <input type="email" name="email" class="form-control" value="{{ user.email }}" readonly="readonly" placeholder="Email Address"/>
                    </div>
                    <div class="col-md-12">
                        <label class="labels" for="date_of_birth">Date of birth</label>
                        {% if user.date_of_birth!= None %}
                            <input type="text" name="date_of_birth" class="form-control datetime-picker" value="{{ user.date_of_birth.strftime('%m/%d/%Y') }}" placeholder="Date of birth"/>
                        {% else %}
                            <input type="text" name="date_of_birth" class="form-control datetime-picker" placeholder="Date of birth"/>
                        {% endif %}
                    </div>
                </div>
                <div class="mt-2">
                    <h6 style="color:green;">{{ message }}</h6>
                </div>
                <div class="mt-5 text-center">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
                <div class="mt-2 text-center">
                    Need to change password? <a href="/auth/change-password">Click here</a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="px-3 p-1">&nbsp;</span></div><br>
                    <div class="col-md-12">
                        <label class="labels">Experience in</label>
                        {% if user.experience_in!= None %}
                            <input type="text" name="experience_in" class="form-control" value="{{ user.experience_in }}" placeholder="Experience in"/>
                        {% else %}
                            <input type="text" name="experience_in" class="form-control" placeholder="Experience in"/>
                        {% endif %}
                    </div> 
                    <br>
                    <div class="col-md-12">
                        <label class="labels">Additional Details</label>
                        {% if user.addition_detail!= None %}
                            <textarea name="addition_detail" rows="5" cols="45" placeholder="Additional Details" class="form-control">{{ user.addition_detail }}</textarea>
                        {% else %}
                            <textarea name="addition_detail" rows="5" cols="45" placeholder="Additional Details" class="form-control"></textarea>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
</form>
{% endblock %}

{% block script %} 
    <script src="{{ url_for('static', filename= 'client/js/pages/profile.js')}} "></script>
    <script>
        $(document).ready(function(){
            $("#file_photo").change(function(){
                let formData = new FormData();
                formData.append("file", file_photo.files[0]);
                $.ajax({
                    url: '/auth/profile/photo',
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (response) {
                        $("#img_user_photo").attr('src','/static/files_uploaded/' + response.user_photo);
                    }
                });
            });
        });
    </script>
{% endblock %}
    