{% extends "common/layout_login.html" %} 
{% block title %} Register new account{% endblock %}
{% block content %}
    <section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="{{ url_for('static', filename = 'client/images/logo.jpg') }}"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Book store Online</h4>
                </div>
                 <form method="post">
                <p>Please fill below information</p>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="email">Email</label>
                        <span class="required-asterisk">*</span>
                    </div>
                    <div class="col-md-8">
                        {% if form.email.errors %}
                            <input type="email" name="email" value="{{ form.email.data }}" class="form-control is-invalid" placeholder="Email Address"/>
                            <div class="invalid-feedback">
                               {% for error in form.email.errors %}
                                    <li>{{ error }}</li>
                               {% endfor %}
                            </div>
                        {% elif form.email.data != None %}
                            <input type="email" name="email" value="{{ form.email.data }}" class="form-control is-valid" placeholder="Email Address"/>
                            <div class="valid-feedback">
                               Looks good
                            </div>
                        {% else %}
                            <input type="email" name="email" class="form-control" placeholder="Email Address"/>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="first_name">First Name</label>
                        <span class="required-asterisk">*</span>
                    </div>
                    <div class="col-md-8">
                        {% if form.first_name.errors %}
                            <input type="text" name="first_name" value="{{ form.first_name.data }}" class="form-control is-invalid" placeholder="First Name"/>
                            <div class="invalid-feedback">
                               {% for error in form.first_name.errors %}
                                    <li>{{ error }}</li>
                               {% endfor %}
                            </div>
                        {% elif form.first_name.data != None %}
                            <input type="text" name="first_name" value="{{ form.first_name.data }}" class="form-control is-valid" placeholder="First Name"/>
                            <div class="valid-feedback">
                               Looks good
                            </div>
                        {% else %}
                            <input type="tex" name="first_name" class="form-control" placeholder="First Name"/>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="last_name">Last Name</label>
                        <span class="required-asterisk">*</span>
                    </div>
                    <div class="col-md-8">
                        {% if form.last_name.errors %}
                            <input type="text" name="last_name" value="{{ form.last_name.data }}" class="form-control is-invalid" placeholder="Last Name"/>
                            <div class="invalid-feedback">
                               {% for error in form.last_name.errors %}
                                    <li>{{ error }}</li>
                               {% endfor %}
                            </div>
                        {% elif form.last_name.data != None %}
                            <input type="text" name="last_name" value="{{ form.last_name.data }}" class="form-control is-valid" placeholder="Last Name"/>
                            <div class="valid-feedback">
                               Looks good
                            </div>
                        {% else %}
                            <input type="tex" name="last_name" class="form-control" placeholder="Last Name"/>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="password">Password</label>
                        <span class="required-asterisk">*</span>
                    </div>
                    <div class="col-md-8">
                        {% if form.password.errors %}
                            <input type="password" name="password" value="{{ form.password.data }}" class="form-control is-invalid" placeholder="Password"/>
                            <div class="invalid-feedback">
                               {% for error in form.password.errors %}
                                    <li>{{ error }}</li>
                               {% endfor %}
                            </div>
                        {% elif form.password.data != None %}
                            <input type="password" name="password" value="{{ form.password.data }}" class="form-control is-valid" placeholder="Password"/>
                            <div class="valid-feedback">
                               Looks good
                            </div>
                        {% else %}
                            <input type="password" name="password" class="form-control" placeholder="Password"/>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <label class="col-form-label" for="confirm_password">Confirm Password</label>
                        <span class="required-asterisk">*</span>
                    </div>
                    <div class="col-md-8">
                      {% if form.confirm_password.data != None %}
                        <input type="password" name="confirm_password" class="form-control" value="{{ form.confirm_password.data }}" placeholder="Confirm Password"/>
                      {% else %}
                        <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password"/>
                      {% endif %}
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Register</button>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-12">
                        Have an account? <a href="/auth/login" class="btn btn-outline-danger">Login now</a>
                    </div>
                </div>
            </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a bookstore</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
    