{% extends "common/base.html" %}
{% block style %} {% endblock %}
{% block nav_header %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">BookStore</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
 {% if user.is_authenticated %}
  <div class="col-md-1 col-lg-1 me-0 px-1">
    <div class="nav-item text-nowrap">
      <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.photo_url != None and user.photo_url !='' %}
            <img src="{{ url_for('static', filename = 'files_uploaded/' + user.photo_url) }}" height="32" width="32" class="rounded-circle me-2" alt="{{ user.email }}">
            {% else %}
              <img src="{{ url_for('static', filename = 'admin/dist/img/no-image.png') }}" height="32" width="32" class="rounded-circle me-2" alt="{{ user.email }}">
            {% endif %}
            <strong>{{ user.first_name }} {{ user.last_name }}</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="min-width:9.2rem;" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/auth/profile">Profile</a></li>
            <li><a class="dropdown-item" href="/auth/change-password">Change Password</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/book/wishlist">My Wishlists</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/admin/" target="_blank">Admin site</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/auth/logout">Sign out</a></li>
          </ul>
      </div>
    </div>
  </div>
 {% else %}
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="/auth/login">Sign In</a>
    </div>
  </div>
 {% endif %}

</header>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
  <footer class="text-center text-lg-start text-white"
          style="background-color: #5a5d63">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              BookStore
            </h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor ante id enim rutrum interdum. Fusce condimentum nisl orci, vitae dapibus lorem elementum ut. Suspendisse mollis metus a lectus elementum varius. Pellentesque tempor massa lorem, non fringilla nunc tempor finibus. Vestibulum commodo sapien ac lobortis venenatis.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Useful links
            </h6>
            <p>
              <a class="text-white" href="/">Home</a>
            </p>
            <p>
              <a class="text-white" href="/admin/" target="_blank">Administrator</a>
            </p>
            <p>
              <a class="text-white" href="/auth/profile">My profile</a>
            </p>
            <p>
              <a class="text-white" href="/book/wishlist">My wishlist</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2024 Copyright:
              <a class="text-white" href="/"
                >my-book-store.com</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              ><i class="fab fa-instagram"></i
              ></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
{% endblock %}


{% block script %} 

{% endblock %}
