{% extends "admin/admin_layout.html" %} 
{% block title %} Book List {% endblock %}
{% block content %}
<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Books Management</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="/admin/book/">Books</a></li>
              <li class="breadcrumb-item active">List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sd-12">
                <div class="card">
                    <div class="card-header">
                       <a href="/admin/book/create" class="btn btn-success"><i class="fas fa-plus"></i> Add Book</a>
                    </div>
                    <div class="card-body">
                        <table id="tblBook" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="width:40px;">Image</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Price</th>
                            <th>Is Featured</th>
                            <th>Is Published</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                                <tr>
                                    <td>
                                        {% if book.images[0] != None and book.images[0].url != None and book.images[0].url != '' %}
                                                <img src="{{ url_for('static', filename = 'files_uploaded/'+ book.images[0].url ) }}" alt="{{ book.title }}" style="height: 60px; width:60px;" />
                                        {% else %}
                                            <img src="{{ url_for('static', filename = 'admin/dist/img/no-image.png') }}" alt="{{ book.title }}" style="height: 60px; width:60px;" />
                                        {% endif %}
                                    </td>
                                    <td> 
                                        <a href="/admin/book/edit/{{ book.id }}">{{ book.title }} </a>
                                    </td>
                                     <td> 
                                        <a href="/admin/category/edit/{{ book.category_id }}">{{ book.category.name }} </a>
                                    </td>
                                    <td> {{ book.author }}</td>
                                    <td> <strong>{{ "${:,}".format(book.price) }}</strong></td>
                                    <td> {{ book.is_featured }}</td>
                                    <td> 
                                        {% if book.is_published == True %}
                                            <i class="fas fa-upload text-success"> &nbsp;Published</i> 
                                        {% else %}
                                            <i class="fas fa-download text-danger"> &nbsp;Draft</i>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Price</th>
                            <th>Is Featured</th>
                            <th>Is Published</th>
                        </tr>
                        </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('#tblBook').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let column = this;
                        let title = column.footer().textContent;
        
                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.footer().replaceChildren(input);
        
                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== this.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
            }
            });
        });
    </script>
{% endblock %}
