{% extends "admin/admin_layout.html" %} 
{% block title %} Category create {% endblock %}
{% block content %}
<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Create a Category</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="/admin/category/">Category</a></li>
              <li class="breadcrumb-item active">Create</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sd-12">
                        <!-- general form elements -->
                        <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Category create</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post" action="/admin/category/create" enctype="multipart/form-data" style="border:none;padding:0;" class="form dropzone" id="frmCreateCategory">
                            <div class="card-body">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <span class="required-asterisk">*</span>
                                {% if form.name.errors %}
                                    <input type="text" class="form-control is-invalid" id="name" name="name" value="{{ form.name.data }}" required  placeholder="Book Name">
                                    <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                            <li>{{ error }}</li>
                                    {% endfor %}
                                    </div>
                                {% elif form.name.data != None %}
                                    <input type="text" class="form-control" id="name" name="name" value="{{ form.name.data }}" required  placeholder="Book Name">
                                {% else %}
                                    <input type="text" class="form-control" id="name" name="name" required placeholder="Book Name">
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="short_description">Short Description</label>
                                <span class="required-asterisk">*</span>
                                {% if form.short_description.errors %}
                                    <input type="text" class="form-control is-invalid" id="short_description" name="short_description" value="{{ form.short_description.data }}" required  placeholder="Short description">
                                    <div class="invalid-feedback">
                                    {% for error in form.short_description.errors %}
                                            <li>{{ error }}</li>
                                    {% endfor %}
                                    </div>
                                {% elif form.short_description.data != None %}
                                    <input type="text" class="form-control" id="short_description" name="short_description" value="{{ form.short_description.data }}" required  placeholder="Short description">
                                {% else %}
                                    <input type="text" class="form-control" id="short_description" name="short_description" required placeholder="Short description">
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="dimensions">Images</label>
                            </div>

                            </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Create</button>
                                <input type="hidden" id="isFileAdded" value="false" />
                            </div>
                        </form>
                        </div>
                        <!-- /.card -->
                    </div>
            </div>
    </div>
</section>
{% endblock %}

{% block script %}
     <script src="{{ url_for('static', filename= '/admin/dist/js/pages/category.js')}} "></script>
{% endblock %}
