{% extends "admin/admin_layout.html" %} 
{% block title %} Category Edit {% endblock %}
{% block content %}
<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Edit a Category</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="/admin/category/">Categories</a></li>
              <li class="breadcrumb-item active">Edit</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sd-12">
                        <!-- general form elements -->
                        <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title" style="font-weight:bold;">{{category.name}}</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post" action="/admin/category/edit/{{ category.id }}" enctype="multipart/form-data" style="border:none;padding:0;" class="form dropzone" id="frmEditCategory">
                            <div class="card-body">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <span class="required-asterisk">*</span>
                                {% if category.title != None %}
                                    <input type="text" class="form-control" id="name" name="name" value="{{ category.name }}" required  placeholder="Category title">
                                {% else %}
                                    <input type="text" class="form-control" id="name" name="name" required placeholder="Category name">
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="short_description">Short Description</label>
                                <span class="required-asterisk">*</span>
                                {% if category.short_description != None %}
                                    <input type="text" class="form-control" id="short_description" name="short_description" value="{{ category.short_description }}" required  placeholder="Short description">
                                {% else %}
                                    <input type="text" class="form-control" id="short_description" name="short_description" required placeholder="Short description">
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="slug">Slug</label>
                                {% if category.Slug != None %}
                                    <input type="text" readonly="readonly" class="form-control" id="slug" name="slug" value="{{ category.slug }}"  placeholder="Category Slug">
                                {% else %}
                                    <input type="text" readonly="readonly" class="form-control" id="slug" name="slug" placeholder="Category Slug">
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="dimensions">Thumbnail</label>
                                {% if category.thumbnail != None and category.thumbnail != '' %}
                                    <img src="data:image/png;base64, {{ category.thumbnail }}" alt="{{ category.title }}" style="height: 60px; width:60px;" />
                                {% endif %}
                            </div>
                            </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <input type="hidden" id="isFileAdded" value="false" />
                                <input type="hidden" id="category_id" value="{{ category.id }}" />
                                <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Update</button>
                                <span id="error_message" class="required-asterisk"></span>
                                {% if category.updated_at != None %}
                                <em style="float:right;">| Last updated: <span style="font-weight:bold;color:green;">{{ category.updated_at.strftime("%d/%m/%Y %H:%M:%S") }} </span></em>
                                {% endif %}
                                 <em style="float:right;">Created at: <span style="font-weight:bold;color:green;">{{ category.created_at.strftime("%d/%m/%Y %H:%M:%S") }}</span> </em>
                            </div>
                        </form>
                        </div>
                        <!-- /.card -->
                    </div>
            </div>
    </div>
</section>
{% endblock %}

{% block script %}
     <script src="{{ url_for('static', filename= '/admin/dist/js/pages/category.js')}} "></script>
{% endblock %}
