{% extends "admin/admin_layout.html" %} 
{% block title %} User List {% endblock %}
{% block content %}
<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Users Management</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="/admin/user/">Users</a></li>
              <li class="breadcrumb-item active">List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sd-12">
                <div class="card">
                    <div class="card-header">
                       <a href="/admin/user/create" class="btn btn-success"><i class="fas fa-plus"></i> Add User</a>
                    </div>
                    <div class="card-body">
                        <table id="tblUser" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="width:60px;">Image</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Telephone</th>
                            <th>Is Active</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        {% if user.photo_url != None and user.photo_url != '' %}
                                                <img src="{{ url_for('static', filename = 'files_uploaded/' + user.photo_url) }}" alt="{{ user.email }}" style="height: 60px; width:60px;" />
                                        {% else %}
                                            <img src="{{ url_for('static', filename = 'admin/dist/img/no-image.png') }}" alt="{{ user.title }}" style="height: 60px; width:60px;" />
                                        {% endif %}
                                    </td>
                                    <td> 
                                        <a href="/admin/user/edit/{{ user.id }}">{{ user.email }} </a>
                                    </td>
                                    <td> {{ user.first_name }}</td>
                                    <td> {{ user.last_name }}</td>
                                    <td> {{ user.telephone }}</td>
                                    <td> 
                                        {% if user.is_active == True %}
                                            <i class="fas fa-upload text-success"> &nbsp;Active</i> 
                                        {% else %}
                                            <i class="fas fa-download text-danger"> &nbsp;InActive</i>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Image</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Telephone</th>
                            <th>Is Active</th>
                        </tr>
                        </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('#tblUser').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let column = this;
                        let title = column.footer().textContent;
        
                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.footer().replaceChildren(input);
        
                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== this.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
            }
            });
        });
    </script>
{% endblock %}
