{% extends "common/layout.html" %}
{% import "common/macros/star_rating.html" as star_rating %}
{% import "client/macros/category_list.html" as category %}
{% import "client/macros/featured_books_carousel.html" as book_carousel %}
{% import "client/macros/book_list.html" as book %}

{% block style %} 
<link href="{{ url_for('static', filename = '/client/css/pages/star_rating.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'client/css/pages/book.css') }}" rel="stylesheet">
<div id="featured-books-carousel-img-bg">
</div>
{% endblock %}

{% block content %}
  <div class="mt-0 mb-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-12">
          {{ book_carousel.featured_books_carousel() }}
      </div>
      <div class="col-md-12">
        <br/>
      </div>
      <div class="col-md-12">
          {{ category.category_list() }}
      </div> <!-- col-md-12 -->
      <div class="col-md-12">
        <br/>
      </div>
      <div class="col-md-12">
          {{ book.book_list(categories, books, star_rating, wishlists, 'BOOKS', False, request.args) }}
      </div> <!-- col-md-12 -->
    </div> <!-- d-flex justify-content-center row -->
  </div> <!-- mt-5 mb-5 -->
  
  {% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename= '/client/js/pages/dashboard.js')}} "></script>
    <script src="{{ url_for('static', filename= '/client/js/pages/wishlist.js')}} "></script>
    <script src="{{ url_for('static', filename= '/client/js/pages/star_rating.js')}} "></script>
    <script src="{{ url_for('static', filename= '/client/js/components/category.js')}} "></script>
    <script src="{{ url_for('static', filename= '/client/js/components/featured-books-carousel.js')}} "></script>
    <script src="{{ url_for('static', filename= '/client/js/components/book.js')}} "></script>
{% endblock %}