.image-container {
	overflow: hidden;
}
.zoom-img {
	transition: transform 0.3s '';
}
  
.image-container:hover .zoom-img {
	transform: scale(2);
	position: absolute;
    top: 50%;
    left: 50%;
	z-index: 100;
    transform: translate(-50%, -50%);
	width: 500px !important;
	height: 500px !important;
	border-radius: 0px !important;
	display: block;
}

.customer-review-box {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);margin-left: 25px;
}

.customer-review-box h3 {
    font-weight:500;font-size:29px;color:#555555;margin:-10px 0 5px;padding-top:28px;
}


/****Review comments*****/
.content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight: 500;
    font-size: 29px;
    color: #555555;
    margin: -10px 0 5px;
    padding: 0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
    margin-left: 25px;
}

#comments .media {
	border-bottom:1px dashed #DDDDDD;
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:100px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}